{% extends 'base.html' %}

{% block title %}Recipe Book{% endblock %}
{% block header %}Image Add{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="image">
        <span>Image</span>
        <input type="file" accept="image/*" id="image" name="image">
    </label>
    <label for="description">
        <span>Description</span>
        <input type="text" id="description" name="description">
    </label>
    {{ form }}
    <button type="submit">Submit</button>
</form>
{% endblock %}