{% extends 'base.html' %}
	{% block title %}Recipe Book{% endblock %}
	{% block header %}{{recipe.name}}{% endblock %}

	

	{% block content %}
    <p>{{recipe.name}}:</p>
	<p>Author: {{recipe.author}}</p>
    <ol>{% for ingredient in recipe.ingredients.all %}
		<li>{{ingredient.ingredient.name}} - {{ingredient.quantity}}</li>
    {% endfor %}</ol>
	{% for image in recipe.images.all %}
		<img src="{{ image.image.url }}" alt="{{ image.description }}">
	{% endfor %}
	<button><a href="/recipes/list">Home</a></button>
	{% endblock %}